.navigation {
  height: 50px;
  background: #4e4e4e;
}

.disable {
  cursor: not-allowed;
}

.navigation .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-name {
  font-weight: bold;
}

.links-list {
  display: flex;
}

.offer {
  margin: 0 45px;
}
